@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.h1 {
    font-size: 16px;
    font-weight: 700;
}

.gradiente {
    width: 100%;
    height: 400px;
    position: fixed;
    top: 79px;
    left: 0;
    background-image: linear-gradient(to top, transparent, white);
}

.topo {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 22px;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 20px -10px #aca7a7;
}
.topo img {
    width: 73px;
    height: 53px;
}
.topo ion-icon {
    font-size: 45px;
}


.chat {
    min-width: 100%;
    min-height: 100vh;
    padding-top: 106px;
    padding-bottom: 80px;
    height: auto;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.chat div {
    min-height: 40px;
    height: auto;
    min-width: 100%;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    overflow-y: scroll; 
}

.chat div {
    padding: 15px; 
}
.chat .msg-normal {
    background-color: #FFFFFF;
    
}
.chat .msg-status {
    background-color: #DCDCDC;
}
.chat .msg-privada {
    background-color: #FFDEDE;
}

.chat span {

}
span.user, span.destinatario {
    font-weight: 700;

}
span.time {
    color: #AAAAAA;
}
span.texto, span.user, span.destinatario {
    word-break: break-word;
    line-height: 20px;
}


.msg-box {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0px;
    left: 0px;
    box-shadow: 0px -4px 10px -5px #aca7a7;
}
.msg-box input {
    width: 100%;
    height: 80px;
    padding: 25px 60px 25px 20px;
    position: absolute;
    bottom: 3px;
    left: 0px;
    font-size: 18px;
    outline: none;
    border: none;
    resize: none;
}
.msg-box input::placeholder {
    color: #000000;
    font-style: italic;
}

.msg-box ion-icon {
    font-size: 26px;
    position: absolute;
    bottom: 27px;
    right: 18px;
    z-index: 2;
}




.sidebar {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    display: flex;
    opacity: 0;
    display: none;
    transition: opacity 1s ease-out;
    
}


.transparente {
    background-color: rgba(0, 0, 0, 0.6);
    width: 30%; 
    z-index: 4;
}
.menu {
    width: 70%;
    height: 100%;
    position: fixed;
    right: 0;
    background-color: #FFFFFF;
    z-index: 5;
}

.sidebar.aparece {
    display: inherit;
}
.sidebar.transicao {
    opacity: 1;
    transition: opacity 500ms ease-out;
}

.textoSide {
    width: 100%;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.textoSide p {
    font-size: 16px;
    font-weight: bold;
}

.lista, .visibilidade {
    width: 100%;
    height: auto;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    display: inline-flex;
    overflow-y: scroll;
}
.visibilidade {
    margin-top: -20px;
}

.participante, .visibilidadeparticipante {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.participante:hover, .visibilidadeparticipante:hover {
    background-color: #ecd6d6;
}
.between {
    display: flex;
    align-items: center;
}
.between span {
    font-size: 16px;
    margin-left: 7px;
    margin-top: 3px;
}

.between ion-icon {
    font-size: 24px;
    margin-left: 20px;
}

.icone {
    width: 9px;
    height: 7px;
    margin-right: 30px;
    display: none;
    margin-top: -3px;
}


.mensagempara {
    margin-top: 53px;
    margin-left: 20px;
    width: 100%;
    height: 40px;
    position: absolute;
    z-index: 2;
    display: none;
}

.ativo {
    display: inherit;
}